.App {
  text-align: center;
}

.sidebar {
  position: absolute;
  top: 0px;
  left: -15vw;
  height: 100%;
  width: 20vw;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}
.sidebar-toggle {
  position: absolute;
  top: 20%;
  right: -60px;
  height: 60px;
  width: 60px;
  z-index: 1;
}

.sidebarContent {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}
.sidebar.open {
  left: 0;
}
.content.open {
  left: 15vw;
}



